<!--ゲストユーザーは編集できません。のフラッシュメッセージ-->
<div style="color: red;"><%= flash[:alert] %></div>

<% if customer.is_deleted == false %>

  <div><%= image_tag customer.get_customer_image(150,100) %></div>
  <h4 style="margin-top: 10px;"><%= customer.name %></h4>
  <p style="background-color: #F7F7F7; border-radius: 0.5em; padding: 10px;"><%= customer.introduction %></p>

  <% if customer == current_customer %>
    <%= link_to edit_customer_path(customer.id) do %>
      <button type="button" class="btn btn-primary btn-sm">編集する</button>
    <% end %>
  <% end %>

<% else %>
  <p>退会済みのユーザー</p>
<% end %>