<h1>モーニングの詳細を確認するページ</h1>

<div><%= image_tag @shop.get_shop_image(300,200) %></div>
<p><%= @shop.title %></p>
<p><%= @shop.address %></p>

<div>
  <%= image_tag @customer.get_customer_image(45,45) %>
  <%= @shop.customer.name %>
</div>

<p><%= @shop.body %></p>
<p>OPEN <%= @shop.open_time.strftime("%H:%M") %>〜CLOSE <%= @shop.close_time.strftime("%H:%M") %></p>
<p>定休日：<%= @shop.holiday %></p>
<p>価格帯：約<%= @shop.price %>円／一人</p>

  <p>お店の雰囲気：
    <%= @shop.mood_i18n %>
  </p>

  <p>無料Wi-Fi：
    <% if @shop.wifi == false %>
      なし
    <% else %>
      あり
    <% end %>
  </p>

  <p>充電用コンセント：
    <% if @shop.charging == false %>
      なし
    <% else %>
      あり
    <% end %>
  </p>

  <p>キャッシュレス決済：
    <% if @shop.cashless == false %>
      不可
    <% else %>
      可
    <% end %>
  </p>

<% if @shop.customer == current_customer %>
  <%= link_to "編集", edit_shop_path(@shop.id) %>
  <%= link_to "削除", shop_path(@shop.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>

<%= link_to "コメントする(リンク先要編集）", root_path %>