<h1 class="title">モーニング一覧</h1>（全<%= @shop_count %>件）

<div class="container">
  <div class="row">

    <div class="col-xl-3 col-lg-4 col-10" style="text-align: center;">
      <!--検索フォーム-->
      <%= search_form_for @q, url: root_path do |f| %>
        <!--title_contは、あいまい検索を指定-->
        <%= f.search_field :title_cont, placeholder: '店舗名' %>
        <%= f.submit "検索", class: 'btn btn-secondary btn-sm' %>
      <% end %>

      <!--allを表示させるための記述-->
      <span>
        <%= link_to root_path(genre_id: ""), class: "badge badge-pill badge-warning" do %>
          <i class="fa-solid fa-tag"></i>すべて表示
        <% end %>
      </span>

      <% Genre.all.each do |genre| %>
        <span>
          <%= link_to root_path(genre_id: genre.id), class: "badge badge-pill badge-warning" do %>
            <i class="fa-solid fa-tag"></i><%= genre.name %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="col-xl-9 col-lg-8 col-10">
      <!--投稿情報の部分テンプレート-->
      <%= render "public/customers/collection", collection: @shops %>
    </div>
  </div>

  <div class="row" style="margin: 20px; justify-content: center;">
      <%= paginate @shops %>
  </div>
</div>


