<!DOCTYPE html>
<html>
  <head>
    <title>EggStand</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div id="wrapper">
  <div id="container">

    <header class="site-header">
      <div class="wrapper site-header__wrapper">
      <!--エッグスタンド（ロゴ）：トップに戻るルートパスを設定-->
      <%= link_to "Eggstand", root_path, class: "brand"  %>

      <% if customer_signed_in? %>
      <nav class="nav">
        <ul class="nav__wrapper">

          <li class="nav__item">
            <%= link_to new_shop_path do %>
              <i class="fa-solid fa-utensils" style="font-size:35px;"></i><br>
              投稿する
            <% end %>
          </li>

          <li class="nav__item">
            <%= link_to customer_path(current_customer) do %>
              <i class="fa-solid fa-user" style="font-size:35px;"></i><br>
              マイページ
            <% end %>
          </li>

          <li class="nav__item">
            <%= link_to about_path do %>
              <i class="fas fa-egg" style="font-size:35px;"></i><br>
              about
            <% end %>
          </li>

          <li class="nav__item">
            <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class="fa-solid fa-person-running" style="font-size:35px;"></i><br>
              ログアウト
            <% end %>
          </li>

        </ul>
      </nav>


      <div class="login">
          <%= image_tag current_customer.get_customer_image(45,45) %>
          <%= current_customer.name %>さん
      </div>

      <% elsif admin_signed_in? %>
        <nav class="nav">
          <ul class="nav__wrapper">

            <li class="nav__item">
              <%= link_to admin_customers_path do %>
                <i class="fa-solid fa-users"style="font-size:35px;"></i><br>
                会員一覧
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to admin_comment_edit_path do %>
                <i class="fa-regular fa-comment" style="font-size:35px;"></i><br>
                コメント一覧
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to admin_genres_path do %>
                <i class="fa-solid fa-utensils" style="font-size:35px;"></i><br>
                ジャンル一覧
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <i class="fa-solid fa-person-running" style="font-size:35px;"></i><br>
                ログアウト
              <% end %>
            </li>
          </ul>
        </nav>

      <% else %>
        <nav class="nav">
          <ul class="nav__wrapper">

            <li class="nav__item">
              <%=  link_to public_guest_sign_in_path, method: :post do %>
                <i class="fa-solid fa-circle-user" style="font-size:35px;"></i><br>
                ゲストログイン
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to new_customer_registration_path do %>
                <i class="fa-solid fa-user-plus" style="font-size:35px;"></i><br>
                新規登録
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to customer_session_path do %>
                <i class="fa-solid fa-right-to-bracket" style="font-size:35px;"></i></i><br>
                ログイン
              <% end %>
            </li>

            <li class="nav__item">
              <%= link_to about_path do %>
                <i class="fas fa-egg" style="font-size:35px;"></i><br>
                about
              <% end %>
            </li>

          </ul>
        </nav>
      <% end %>
      </div>
    </header>

    <body>
      <%= yield %>
    </body>

  <!--投稿一覧画面で記述したfloat: left;（要素の横並び）の影響を受けないためにclear: both;を記述。-->
    <div id="footer">
      <footer>
        <p>CopyRight yuka</p>
      </footer>
    </div>
  </div>
</div>
</html>

